# Elixir version
elixir_version=1.10.4

# Erlang version
# available versions https://github.com/HashNuke/heroku-buildpack-elixir-otp-builds/blob/master/otp-versions
erlang_version=23.3.4.3
release=true
always_rebuild=true


# A command to run right before fetching dependencies
hook_pre_fetch_dependencies="mix deps.get -y"

# A command to run right before compiling the app (after elixir, .etc)
hook_pre_compile="export MIX_ENV=$ENV"

hook_compile="mix compile"

# A command to run right after compiling the app
hook_post_compile="echo $PORT"